@import "variables";

.l-header {
  @include reset;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 0 1.4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 0;
  background-color: $color-neutral-White;
}

.logo {
  @include reset;
  width: 139;
  height: 20;
}

.nav {
  @include reset;

  &__list {
    &--hidden {
      visibility: hidden;
    }
    @include reset;
  }

  &__item {
    @include reset;
  }

  &__link {
    @include reset;
  }
}

.cta-button {
  @include reset;

  &--hidden {
    visibility: hidden;
  }

  &__text {
    @include reset;
  }
}

.hamburger-menu {
  @include reset;
  z-index: 2;
}
