@import "variables";

.l-header {
  @include reset;
  padding: 0 1.3rem 0 1.3rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 0;
  width: 100%;
  height: 3.5rem;
  top: 0;
  background-color: $color-neutral-White;
  z-index: 1;
}

.logo {
  @include reset;
  width: 139;
  height: 20;
}

.nav {
  @include reset;
  visibility: hidden;

  &__list {
    @include reset;
  }

  &__item {
    @include reset;
    @include font();
  }

  &__link {
    @include reset;
    @include font();
  }
}

.cta-button {
  @include reset;
  visibility: hidden;

  &__text {
    @include reset;
  }
}

.hamburger-menu {
  @include reset;
  z-index: 2;
}
