// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary
$color-primary-Dark-Blue: hsl(233, 26%, 24%);
$color-primary-Lime-Green: hsl(136, 65%, 51%);
$color-primary-Bright-Cyan: hsl(192, 70%, 51%);

// ### Neutral
$color-neutral-Grayish-Blue: hsl(233, 8%, 62%);
$color-neutral-Light-Grayish-Blue: hsl(220, 16%, 96%);
$color-neutral-Very-Light-Gray: hsl(0, 0%, 98%);
$color-neutral-White: hsl(0, 0%, 100%);

// ## Typography

// ### Body Copy
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// ### Font
@mixin font(
  $size: 1rem,
  $weight: $font-weight-medium,
  $color: $color-primary-Dark-Blue
) {
  font-family: "Public Sans", sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin flex($flex-direction, $justify-content, $align-items, $row-gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  row-gap: $row-gap;
}
