@import "variables";

.l-header {
  @include reset;
  @include flex(column, center, center, 0);
  z-index: 2;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: $color-neutral-White;
}

.header__wrapper {
  @include reset;
  @include flex(row, space-between, center, 0);
  width: 100%;
  max-width: 1110px;
  height: 100%;
  padding: 0 1.4rem 0;
}

.logo {
  @include reset;
}

.nav {
  @include reset;
  padding: 2rem 0;
  z-index: 2;
  position: absolute;
  top: 5.5rem;
  left: 1.5rem;
  width: calc(100vw - 3rem);
  background-color: $color-neutral-White;
  border-radius: 4.5px;
  transition: all 0.1s ease;
  visibility: visible;

  &--desktop {
    visibility: hidden;
  }

  &--hidden {
    position: absolute;
    top: -201px;
    visibility: hidden;
  }

  &__list {
    @include reset;
    @include flex(column, center, center, 1.5rem);
  }

  &__item {
    @include reset;
    list-style-type: none;
  }

  &__link {
    @include reset;
    @include font(1.15rem, $font-weight-medium, $color-primary-Dark-Blue);
    text-decoration: none;
  }
}

.cta-button {
  @include reset;
  cursor: pointer;
  text-decoration: none;
  background-color: $color-neutral-White;
  background-image: linear-gradient(
    to right,
    $color-primary-Lime-Green,
    $color-primary-Bright-Cyan
  );
  border-radius: calc(2.7rem / 2);

  &--header {
    // hidden in mobile layout
    position: absolute;
    top: -100vh;
    visibility: hidden;
  }

  &:hover {
    filter: brightness(1.2) grayscale(0.5);
  }

  &__wrap {
    @include reset;
    @include flex(row, center, center, 0);
    padding: 0 2rem;
    line-height: 2.7rem;
    @include font(
      0.9rem,
      $font-weight-medium,
      $color-neutral-Light-Grayish-Blue
    );
  }
}

.hamburger-menu {
  @include reset;
  z-index: 2;
  visibility: visible;
}

//---------------- @MEDIA TABLET --------------------

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .nav {
    &--desktop {
      visibility: visible;
    }

    &__list {
      @include flex(row, center, center, 2rem);
    }

    &__link {
      @include font(0.9rem, $font-weight-medium, $color-neutral-Grayish-Blue);

      &:hover {
        color: $color-primary-Dark-Blue;
        padding-bottom: calc(2rem - 4px);
        border-bottom: 4px solid $color-primary-Blended;
      }
    }
  }

  .cta-button {
    position: static;
    visibility: visible;
  }

  .hamburger-menu {
    // hidden in tablet layout
    position: absolute;
    top: -100vh;
    visibility: hidden;
  }
}

//---------------- @MEDIA DESKTOP -------------------

@media screen and (min-width: 1158px) {
  .l-header {
    padding: 0;
    height: 5rem;
  }

  .header__wrapper {
    padding: 0;
  }

  .nav {
    visibility: hidden;

    &--desktop {
      visibility: visible;
    }

    &__list {
      @include flex(row, center, center, 2rem);
    }

    &__link {
      @include font(0.9rem, $font-weight-medium, $color-neutral-Grayish-Blue);

      &:hover {
        color: $color-primary-Dark-Blue;
        padding-bottom: calc(2rem - 4px);
        border-bottom: 4px solid $color-primary-Blended;
      }
    }
  }

  .cta-button {
    position: static;
    visibility: visible;

    &--header {
      position: unset;
      top: -100vh;
      visibility: visible;
    }
  }

  .hamburger-menu {
    // hidden in desktop layout
    position: absolute;
    top: -100vh;
    visibility: hidden;
  }
}
